@charset "UTF-8";

body {
	background-color: #111;
	color: #777;
}


a, a:visited, a:hover {
	text-decoration: none;
}


a:not(.btn), a:visited:not(.btn), a:hover:not(.btn) {
	color: #787;
}


.my-tr-gold { background-color: #c17d11; }
.my-tr-red { background-color: #ef2929; }

.my-tr-gold, .my-tr-red { color: #111; }
.my-tr-gold a:not(.btn), .my-tr-red a:not(.btn) { color: #fff; }

td,th { padding: 10px; border: 1px solid #000; }
th{
  text-align: center;
  background-color: #79FFAF;
}


#show {
	background-color: white;
	color: black;
}

#return {
	background-color: white;
	color: black;
}

#update {
	background-color: blue;
}